<div *ngIf="showHeader" class="header-style">
    <div class="logo">
        <img src="https://previews.dropbox.com/p/thumb/ACe_ZvJG93gNLy5PRhxI7SBPjMCDvj6u8tSNwSItUkOpvG0-xlM-TPIESKS9rPXV66YeLSRGQt1ynHUjRFYC4mT9NP70wr45x9ZfdWveGRmdsK_5NEBOSviob259CZWMpo5sboc7DQd49ynkCjbwr0_7Q7BwOCw4LjY1J-3TQtW7HhpPyHv9YuYrVeRSjls74t_6E8MzigaY7wJf1Gr-dJxe2BUqxXLVLXIKDZ59APiawvnamI1wCTUceOk9lB4FATgO7aQuhaxA8xw81bUSiVSp0yIowpqCIw7h8fKiZqYOtJC_Zb7Qy6GuVb4QAw_NrrY/p.png" style="height: 20px;">
    </div>
    <nav>
        <ul>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#blog">Blog</a></li>
        </ul>
    </nav>
</div>
